@model SiteInfoViewModel

@{
    ViewData["Title"] = "Create";
}

 

<div class="container">

        <h1>Create</h1>

        <h4>SiteInfo</h4>
        <hr />
        <div class="row">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Key" class="control-label"></label>
                    <select class="form-control" asp-for="Key" asp-items="@(ViewBag.EnumList as SelectList)"></select>

                    <span asp-validation-for="Key" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <textarea asp-for="Value" class="form-control" dir="ltr" rows="10"></textarea>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" asp-for="Image" dir="ltr" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
     </div>

