@model PersonalCV.Core.Entities.Contact

@{
    Layout = null;
}

    <div class="container">
        <div class="cc-contact">
            <div class="row">
                <div class="col-md-9">
                    <div class="card mb-0" data-aos="zoom-in">
                        <div class="h4 text-center title">ارسال پیام</div>
                        <form asp-controller="Contacts" asp-action="Create">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="p pb-3"><strong>برای ارسال پیام از این بخش استفاده کنید. به زودی به پیام شما پاسخ خواهم داد</strong></div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div>
                                                    <span><i class="fa fa-user-circle pl-2 fa-2x"></i>نام شما</span>
                                                    <input class="form-control" type="text" placeholder="نام شما" asp-for="Name" name="name" id="name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div>
                                                    <span><i class="fa fa-file-text pl-2 fa-2x"></i>موضوع</span>
                                                    <input class="form-control" type="text" asp-for="Subject" name="Subject" placeholder="موضوع" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div>
                                                    <span><i class="fa fa-phone pl-2 fa-2x"></i>تلفن</span>
                                                    <input class="form-control" id="phone" type="text" asp-for="Phone" placeholder="تلفن" required="required" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div>
                                                    <span><i class="fa fa-envelope pl-2 fa-2x"></i>ایمیل شما</span>
                                                    <input class="form-control" id="email" type="email" asp-for="Email" placeholder="ایمیل شما" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <div class="col">
                                            <div class="form-group">
                                                <span><i class="fa fa-pencil pl-2 fa-2x"></i>پیام</span>
                                                <textarea rows="7" class="form-control" name="message" asp-for="Message" placeholder="Your Message" required="required"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container">
                                    <div class="col">
                                        <input class="btn btn-primary btn-block mb-4" type="submit" value="ارسال">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
