@{
    Layout = "_Layout";
}

<main id="main">
    <section class="container">
        <p><a href="/SiteInfo" class="btn btn-outline-primary">Site Info</a></p>
        <p><a href="/Contacts" class="btn btn-primary">Contacts</a></p>
        <p><a href="/HostPlans" class="btn btn-danger">Host Plans</a></p>
        <p><a href="/Skills" class="btn btn-warning">Skills</a></p>
        <p><a href="/Templates" class="btn btn-success">Templates</a></p>
        <p><a href="/TemplateGroups" class="btn btn-dark text-white">Template Groups</a></p>
    </section>
</main>
