
@{
    Layout = "_Layout";
}

<main id="main">
    <section class="container">
        <span>Thanks for your message you can contact us with social networks</span>

        <a class="btn btn-primary d-block" href="/">Back To Website</a>
    </section>
</main>
